In [2]:
import pymysql
import pandas as pd

In [3]:
conn = pymysql.connect(host="webinardb.cn6vohxdtofx.ap-south-1.rds.amazonaws.com",port=3306,db="webinar_db",user="shubham",password="Pn7pveA8tY268OFnsX62")
df = pd.read_sql('select * from main_website_analytics',con = conn)
df.head()

,id,page_name,company_name,stall_name,start_time,end_time,user_id_id,random_string
0,2,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:18:51.256827,NaT,1326,VV4S11A7TH
1,3,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:20:32.823475,NaT,1326,VPMM0WK79A
2,4,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:26:26.594978,2020-08-05 14:29:44.532222,1326,3SWBN3KIC5
3,5,arena,social_lounge,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:26:58.208592,2020-08-05 14:29:46.432621,1326,H6P2T4TOCU
4,6,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:29:40.633305,2020-08-05 14:30:04.426297,1326,KAN117I46B

In [9]:
df['time']  = df['end_time'] - df['start_time']
df.head()

,id,page_name,company_name,stall_name,start_time,end_time,user_id_id,random_string,time
0,2,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:18:51.256827,NaT,1326,VV4S11A7TH,NaT
1,3,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:20:32.823475,NaT,1326,VPMM0WK79A,NaT
2,4,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:26:26.594978,2020-08-05 14:29:44.532222,1326,3SWBN3KIC5,00:03:17.937244
3,5,arena,social_lounge,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:26:58.208592,2020-08-05 14:29:46.432621,1326,H6P2T4TOCU,00:02:48.224029
4,6,arena,lobby,Dainik%20Bhaskar%20Virtual%20Property%20Expo,2020-08-05 14:29:40.633305,2020-08-05 14:30:04.426297,1326,KAN117I46B,00:00:23.792992

In [30]:
import time
df['time'] = df['time'].apply(lambda x: x.seconds)

In [32]:
df_pagewise = df[df.company_name == 'Sharma%20Shubham'].groupby('page_name').agg({
    'user_id_id':'count', 
    'time':'mean'
})

In [34]:
df_pagewise.reset_index(inplace = True)
df_pagewise.columns = ['page','clicks','average time']
df_pagewise.head()

            page  clicks  average time
0     auditorium       1     15.000000
1   exhibit_hall       2      6.500000
2          lobby      13     27.500000
3  social_lounge      10     43.166667
4  stall_details       3     11.000000

In [35]:
df_pagewise.to_csv('pagewise_count.csv')

In [44]:
df_stallwise = df[(df.company_name == 'Sharma%20Shubham') & (df.page_name.str.contains('stall_'))].groupby(['page_name','stall_name']).agg({
    'user_id_id':'count', 
    'time':'mean'
})

In [47]:
df_stallwise.reset_index(inplace = True)
df_stallwise.columns = ['page','stall','click','time']
df_stallwise.head()

            page                      stall  click  time
0  stall_details  9CCRP2GK6RGBJ5HJIQEEM4V3Q      3  11.0
1      stall_pdf  9CCRP2GK6RGBJ5HJIQEEM4V3Q      1   0.0

In [48]:
df_stallwise.to_csv('stallwise_analytics.csv')

In [77]:
import base64
from selenium import webdriver
import time
from selenium.webdriver.common.action_chains import ActionChains
driver = webdriver.Chrome()
driver.get("https://www.google.com")
# time.sleep(5);
# canvas = driver.find_element_by_css_selector("#game")

# # get the canvas as a PNG base64 string
# canvas_base64 = driver.execute_script("return arguments[0].toDataURL('image/png').substring(21);", canvas)

# # decode
# canvas_png = base64.b64decode(canvas_base64)

# # save to a file
# with open(r"canvas.png", 'wb') as f:
#     f.write(canvas_png)
# body = driver.find_element_by_tag_name('body')
# body.send_keys(Keys.CONTROL, "s")
# ActionChains(body).key_down(Keys.CONTROL).send_keys('p').key_up(Keys.CONTROL).perform()

In [78]:
from selenium.webdriver.common.keys import Keys

body = driver.find_element_by_tag_name('body')
body.send_keys(Keys.CONTROL, "s")

AttributeError: 'WebDriver' object has no attribute 'maximize'